classic/apps/web/public/models/**/*.onnx -text
classic/apps/web/public/onnxruntime/*.wasm -text
classic/apps/web/public/onnxruntime/*.mjs text eol=lf
classic/apps/web/public/models/**/*.json text eol=lf
